<br><br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Logowanie</h3>
  </div>
</div>

<div class="container col-md-10 mx-auto">
  <br>
  <form class="form-Login" #formRef="ngForm" (ngSubmit)="login(formRef.valid)">
    <fieldset class="login" ngModelGroup="login">
      <div class="form-group row">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <input type="email" data-toggle="tooltip" title="Podaj swój adres e-mail." class="form-control " name="email" id="email"
            aria-describedby="emailHelpId" #emailRef="ngModel" [(ngModel)]="loginUser.email" placeholder="E-mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            data-error="Błędnie podany e-mail" required>
        </div>
        <div class="error form-control" *ngIf="formRef.submitted && emailRef.errors?.required">
          To pole jest obowiązkowe
        </div>
        <div class="error form-control" *ngIf="formRef.submitted && emailRef.errors?.pattern">
          Błędny E-Mail
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <input type="password" data-toggle="tooltip" title="Podaj swoje hasło." class="form-control " name="password" id="password"
            aria-describedby="passwordHelpId" #passwordRef="ngModel" [(ngModel)]="loginUser.password" minlength="6"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Hasło" required>
        </div>
        <div class="error form-control" *ngIf="formRef.submitted && passwordRef.errors?.required">
          To pole jest obowiązkowe
        </div>
        <div class="error form-control" *ngIf="formRef.submitted && passwordRef.errors?.pattern">
          Błędny format hasła. Upewnij się że ma przynajmniej jedną literę wielką oraz jedną cyfrę.
        </div>
        <div class="error form-control" *ngIf="formRef.submitted && passwordRef.errors?.minlength">
          Hasło zbyt krótkie
        </div>
      </div>
      <div class="form-group btn-submit" align="center">
        <button type="submit" class="btn btn-gradient">Zaloguj się</button>
      </div>
    </fieldset>
  </form>
</div>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
