<br>
<br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Wkrótce</h3>
  </div>
</div>

<br>

<div class="col-md-8 mx-auto">

  <ngb-carousel>
    <ng-template ngbSlide class="carousel-item">
      <img src="https://lorempixel.com/900/500?r=1" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item">
      <img src="https://lorempixel.com/900/500?r=2" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item">
      <img src="https://lorempixel.com/900/500?r=3" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>

</div>

<br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Dzisiaj gramy</h3>
  </div>
</div>

<br>

<div class="col-md-10 mx-auto">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="c1.jpg" alt="Listy do M3">
      <div class="card-body">
        <h4 class="card-title">Listy do M3</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="c2.jpg" alt="Mother!">
      <div class="card-body">
        <h4 class="card-title">Mother!</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="c3.jpg" alt="Złe mamuśki 2">
      <div class="card-body">
        <h4 class="card-title">Złe mamuśki 2</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="c4.jpg" alt="Zabicie świętego jelenia">
      <div class="card-body">
        <h4 class="card-title">Zabicie świętego jelenia</h4>
      </div>
    </div>
  </div>

  <br>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="c5.jpg" alt="Twój Vincent">
      <div class="card-body">
        <h4 class="card-title">Twój Vincent</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="c6.jpg" alt="Morderstwo w Orient Expressie">
      <div class="card-body">
        <h4 class="card-title">Morderstwo w Orient Expressie</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="c7.jpg" alt="Coco">
      <div class="card-body">
        <h4 class="card-title">Coco</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="c8.jpg" alt="Najlepszy">
      <div class="card-body">
        <h4 class="card-title">Najlepszy</h4>
      </div>
    </div>
  </div>

</div>