.carousel-item
{
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.col-md-8
{
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}