<br>
<br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Wkrótce</h3>
  </div>
</div>

<br>

<div class="col-md-8 mx-auto">

  <ngb-carousel>
    <ng-template ngbSlide class="carousel-item">
      <img class="img-c" src="http://moviehole.net/img/jumanji-cast.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item">
      <img class="img-c" src="http://www.projections-movies.com/images/it.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide class="carousel-item">
      <img class="img-c" src="https://cdn.empireonline.com/jpg/80/0/0/1000/563/0/north/0/0/0/0/0/t/films/99861/images/rFtsE7Lhlc2jRWF7SRAU0fvrveQ.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>

</div>

<br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Dzisiaj gramy</h3>
  </div>
</div>

<br>

<div class="col-md-10 mx-auto">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-t" src="http://1.fwcdn.pl/po/90/43/779043/7804925.3.jpg" alt="Listy do M3">
      <div class="card-body">
        <h4 class="card-title">Listy do M3</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-t" src="http://1.fwcdn.pl/po/02/72/760272/7800656.3.jpg" alt="Mother!">
      <div class="card-body">
        <h4 class="card-title">Mother!</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-t" src="http://1.fwcdn.pl/po/82/07/698207/7735717.3.jpg" alt="Twój Vincent">
      <div class="card-body">
        <h4 class="card-title">Twój Vincent</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-t" src="http://1.fwcdn.pl/po/59/56/765956/7816140.3.jpg" alt="Dżungla">
      <div class="card-body">
        <h4 class="card-title">Dżungla</h4>
      </div>
    </div>
  </div>

</div>
