<br>
<br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Wybór sali</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mx-auto" style="text-align:center">
    <br>
    <h4 class="screen">EKRAN</h4>
    <br>

    <ng-container *ngFor="let r of rows">
      <div class="row" style="margin-bottom: 10px">
        <ng-container *ngFor="let s of seats">
          <div *ngIf="s.row==r.number" class="center square opacity" [ngClass]="{'click': Clicked( (s.seat*s.row) + ((s.row-1)*4) -((s.row-1)*(s.seat-1)) )}"
               id="{{s.row + s.seat}}" (click)="changeVar((s.seat*s.row) + ((s.row-1)*4) -((s.row-1)*(s.seat-1)))">
            <div class="content">{{s.seat}}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>


    <br>
    <button type="button" class="btn btn-gradient" (click)="buyTicket()">Potwierdź</button>

  </div>

  <div class="col-md-3" style="text-align:center; color:white">
    <br>
    <br>
    <br>
    <h4>Wybrane przez Ciebie miejsca:</h4>
    <p id="miejsce">Brak wybranych miejsc</p>
  </div>

</div>

<script>
  function changeclass(element) {
    $(element).toggleClass('click');

    document.getElementById("miejsce").innerHTML = "";
    var elements = document.getElementsByClassName("click");
    if (elements.length == 0) {
      document.getElementById("miejsce").innerHTML = "Brak wybranych miejsc";
    }

    for (var i = (elements.length - 1); i >= 0; i--) {
      document.getElementById("miejsce").innerHTML += elements[i].id + "<br>";
    }
  }

</script>
