<br>
<br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Wybór sali</h3>
  </div>
</div>

<div class="col-md-10 mx-auto">
  <br>
  <div class="row">
    <p style="color: white; text-transform: uppercase; font-weight: bold;">{{ticketInfo.title}}</p>
    <p style="color: lightgray">, {{ticketInfo.date_start}}, {{time}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mx-auto" style="text-align:center">
    <h4 class="screen">EKRAN</h4>
    <br>

    <ng-container *ngFor="let r of rows">
      <div class="row" style="margin-bottom: 10px">
        <h5>{{r}}</h5>
        <ng-container *ngFor="let s of seats">
          <div *ngIf="s.row==r && s.id_ticket==0" class="center square opacity" [ngClass]="{'click': Clicked( (s.seat*s.row) + ((s.row-1)*4) -((s.row-1)*(s.seat-1)) )}"
               id="{{s.row + s.seat}}" (click)="changeVar((s.seat*s.row) + ((s.row-1)*4) -((s.row-1)*(s.seat-1))) ; selectSeat(s);">
            <div class="content">{{s.seat}}</div>
          </div>
          <div *ngIf="s.row==r && s.id_ticket!=0" class="center square" style="cursor: default; background-color:darkslategray; opacity: 0.7;">
            <div class="content">
              <span class="fa fa-user"></span>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngFor="let r of rows">
      {{r.row}}
    </ng-container>

    <br>
    <button type="button" class="btn btn-gradient" (click)="buyTicket()">Potwierdź</button>

  </div>

  <div class="col-md-3" style="text-align:center; color:white">

    <br>
    <br>
    <br>
    <h4>Wybrane przez Ciebie miejsca:</h4>
    <ng-container *ngIf="selectedSeatsInfo.length==0">
      <p id="miejsce">Brak wybranych miejsc</p>
    </ng-container>
    <ng-container *ngFor="let sI of selectedSeatsInfo">
      <p id="m">{{sI.ID}}</p>
    </ng-container>
  </div>

</div>

