<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <form class="form-Login">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email"
              class="form-control " 
              name="email" 
              id="email" 
              aria-describedby="emailHelpId" 
              placeholder="przykład@gmail.com"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              data-error="Błędnie podany e-mail" 
              required>
            <small id="emailHelpId" class="form-text text-muted">Podaj swój adres e-mail</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Hasło</label>
          <div class="col-sm-10">
            <input type="password" 
              class="form-control " 
              name="password" 
              id="password" 
              aria-describedby="passwordHelpId"
              data-minlength="6"
              pattern="[a-zA-Z1-9]+"
              placeholder="Wpisz hasło"
              required>
            <small id="passwordHelpId" class="form-text text-muted">Minimum 6 znaków, brak znaków specjalnych</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Zaloguj</button>
          </div>
        </div>
      </form>
    </div>

  </body>
</html>