<!doctype html>
<html lang="en">
  <head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <form class="form-Register"
        data-toggle = "validator">
        <div class="form-group">
          <label for="firstname" class="control-label">Imie</label>
          <input type="text"
            class="form-control" 
            name="firstname" 
            id="firstname" 
            aria-describedby="firstnameHelpId" 
            placeholder="Wpisz imie"
            required>
          <small id="firstnameHelpId" class="form-text text-muted">Podaj imie, Bez znaków specjalnych ani cyfr</small>
        </div>
        <div class="form-group">
          <label for="lastname" class="control-label">Nazwisko</label>
          <input type="text"
            class="form-control" 
            name="lastname" 
            id="lastname" 
            aria-describedby="lastnameHelpId" 
            placeholder="Wpisz nazwisko"
            required>
          <small id="lastnameHelpId" class="form-text text-muted">Podaj nazwisko, Bez znaków specjalnych ani cyfr</small>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="email"
            class="form-control" 
            name="email" 
            id="email" 
            aria-describedby="emailHelpId" 
            placeholder="przykład@gmail.com"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            data-error="Błędnie podany e-mail" 
            required>
          <small id="emailHelpId" class="form-text text-muted">Podaj swój adres e-mail</small>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Hasło</label>
          <input type="password" 
            class="form-control" 
            name="password" 
            id="password" 
            aria-describedby="passwordHelpId"
            data-minlength="6"
            pattern="[a-zA-Z1-9]+"
            placeholder="Wpisz hasło"
            required>
          <small id="passwordHelpId" class="form-text text-muted">Minimum 6 znaków, brak znaków specjalnych</small>
        </div>
        <div class="form-group">
          <label for="passwordConfirm" class="control-label">Wpisz hasło ponownie</label>
          <input type="password" 
            class="form-control" 
            name="passwordConfirm" 
            id="passwordConfirm" 
            data-match="#password"  
            data0match-error="Hasła nie są takie same"
            placeholder="Potwierdź hasło"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </body>
</html>