<div class="container col-md-8">
  <h1 style="text-align:center">Cennik</h1>

  <div class="list-group">
    <a class="list-group-item list-group-item-action align-items-start">
      <div class="row">
        <h5 class="col-sm-6">Bilet normalny</h5>

        <p class="col-sm-3">Film 2D - 24,99 zł</p>
        <p class="col-sm-3">Film 3D - 29,99 zł</p>
      </div>
    </a>
    <a class="list-group-item list-group-item-action align-items-start">
      <div class="row">
        <h5 class="col-sm-6">Bilet dziecięcy</h5>

        <p class="col-sm-3">Film 2D - 18,99 zł</p>
        <p class="col-sm-3">Film 3D - 23,99 zł</p>
      </div>
    </a>
    <a class="list-group-item list-group-item-action align-items-start">
      <div class="row">
        <h5 class="col-sm-6">Bilet dla seniora</h5>

        <p class="col-sm-3">Film 2D - 20,99 zł</p>
        <p class="col-sm-3">Film 3D - 24,99 zł</p>
      </div>
    </a>
  </div>
</div>
