<div class="container col-md-8">
  <h1 style="text-align:center">Teraz Grane</h1>

  <div class="list-group">
    <a class="list-group-item flex-column align-items-start borderless">
      <div class="d-flex w-100">
        <img class="mr-3" src="http://s3.amazonaws.com/libapps/accounts/47766/images/film.jpg" height="200px" width="200px">
        <div>
          <h2> Tytuł filmu</h2>
          <p class="mb-1">Opis filmu</p>
        </div>
      </div>
    </a>
    <a class="list-group-item flex-column align-items-start borderless">
      <div class="d-flex w-100">
        <img class="mr-3" src="http://s3.amazonaws.com/libapps/accounts/47766/images/film.jpg" height="200px" width="200px">
        <div>
          <h2 class="mb-1"> Tytuł filmu</h2>
          <p class="mb-1">Opis filmu</p>
        </div>
      </div>
    </a>
    <a class="list-group-item flex-column align-items-start borderless">
      <div class="d-flex w-100">
        <img class="mr-3" src="http://s3.amazonaws.com/libapps/accounts/47766/images/film.jpg" height="200px" width="200px">
        <div>
          <h2 class="mb-1"> Tytuł filmu</h2>
          <p class="mb-1">Opis filmu</p>
        </div>
      </div>
    </a>
  </div>
</div>