<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cinema.MapperJava.UserMapper">

    <select id="findByEmail" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT
        u.id_user, u.name, u.surname, u.role, u.password, u.e_mail
        FROM users u
        WHERE WHERE u.email = #{userName};
    </select>

    <resultMap id="userResultMap" type="com.cinema.Domain.User">
        <id property="id" column="id_user" />
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
        <result property="role" column="role"/>
        <result property="password" column="password"/>
        <result property="e_mail" column="e_mail"/>
    </resultMap>

    <select id="getUsers" resultMap="userResultMap">
        SELECT e_mail FROM users WHERE e_mail = #{e_mail}
    </select>

    <resultMap id="userResultMap" type="User">
        <result column="e_mail" property="e_mail"/>
    </resultMap>

</mapper>