<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cinema.MapperJava.SeatMapper">

    <select id="getSeatsByIdShowtime" resultMap="seatsShowtime">
        SELECT s2.id_seat, s2.id_room , s2.row , s2.seat ,t.id_ticket
        FROM showtimes s1
          LEFT JOIN rooms r ON s1.id_room = r.id_room
          LEFT JOIN seats s2 ON r.id_room = s2.id_room
        LEFT JOIN tickets t ON s2.id_seat = t.id_seat AND s1.id_showtime = t.id_showtime
        WHERE s1.id_showtime = #{id_showtime}
        ORDER BY s2.id_seat ASC
    </select>

    <select id="getSeatsByIdRoom" resultMap="seats">
      SELECT s2.id_seat, s2.id_room , s2.row , s2.seat
      FROM rooms
        INNER JOIN seats s2 ON rooms.id_room = s2.id_room
      WHERE s2.id_room = #{id_room}
    </select>

    <resultMap id="seatsShowtime" type="com.cinema.Domain.Seat">
        <result column="id_seat" property="id_seat"/>
        <result column="id_room" property="id_room"/>
        <result column="row" property="row"/>
        <result column="seat" property="seat"/>
        <result column="id_ticket" property="id_ticket"/>
    </resultMap>

    <resultMap id="seats" type="com.cinema.Domain.Seat">
        <result column="id_seat" property="id_seat"/>
        <result column="id_room" property="id_room"/>
        <result column="row" property="row"/>
        <result column="seat" property="seat"/>
    </resultMap>


</mapper>