<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cinema.MapperJava.UserMapper">

    <select id="findByEmail" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT
        u.id_user, u.name, u.surname, u.role, u.password, u.e_mail
        FROM users u
        WHERE u.e_mail = #{username};
    </select>

    <resultMap id="userResultMap" type="com.cinema.Domain.User">
        <id property="id_user" column="id_user" />
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
        <result property="role" column="role"/>
        <result property="password" column="password"/>
        <result property="e_mail" column="e_mail"/>
        <result property="username" column="e_mail"/>
    </resultMap>

    <select id="getAllUsers" resultMap="allUsers">
        SELECT  u.id_user, u.name, u.surname, u.role, u.e_mail
        FROM users u
    </select>

    <resultMap id="allUsers" type="com.cinema.Domain.User">
        <id property="id_user" column="id_user" />
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
        <result property="role" column="role"/>
        <result property="e_mail" column="e_mail"/>
    </resultMap>

    <select id="getUsers" resultMap="userEmailResultMap">
        SELECT e_mail, id_user FROM users WHERE e_mail = #{e_mail}
    <select id="getUsers" resultType="String">
        SELECT e_mail FROM users WHERE e_mail = #{e_mail}
    </select>


    <insert id="createUser" parameterType="com.cinema.Domain.User">
        INSERT INTO users (id_user, name, surname, password, e_mail) VALUES
            ((SELECT max(id_user)+1 FROM users),#{user.name},#{user.surname},#{user.password},#{user.e_mail})
    </insert>

</mapper>