<div class="container col-md-8">
  <h1 style="text-align:center">Repertuar</h1>

  <div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-primary">PN</button>
    <button type="button" class="btn btn-primary">WT</button>
    <button type="button" class="btn btn-primary">ŚR</button>
    <button type="button" class="btn btn-primary">CZ</button>
    <button type="button" class="btn btn-primary">PT</button>
    <button type="button" class="btn btn-primary">SB</button>
    <button type="button" class="btn btn-primary">ND</button>
  </div>

  <h1> Przykładowa lista filmów Statyczna</h1>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <img class="mr-3" src="http://s3.amazonaws.com/libapps/accounts/47766/images/film.jpg" height="200px" width="200px">
        <h5 class="mb-1">Nazwa filmu</h5>
      </div>
      <p class="mb-1">Opis filmu</p>
      <div class="btn-group btn-group-sm" role="group" aria-label="">
        <button type="button" class="btn btn-primary">Godzina filmu</button>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <img class="mr-3" src="http://s3.amazonaws.com/libapps/accounts/47766/images/film.jpg" height="200px" width="200px">
        <h5 class="mb-1">Nazwa filmu</h5>
      </div>
      <p class="mb-1">Opis filmu</p>
      <div class="btn-group btn-group-sm" role="group" aria-label="">
        <button type="button" class="btn btn-primary">Godzina filmu</button>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
      <div class="d-flex w-100 justify-content-between">
        <img class="mr-3" src="http://s3.amazonaws.com/libapps/accounts/47766/images/film.jpg" height="200px" width="200px">
        <h5 class="mb-1">Nazwa filmu</h5>
      </div>
      <p class="mb-1">Opis filmu</p>
      <div class="btn-group btn-group-sm" role="group" aria-label="">
        <button type="button" class="btn btn-primary">Godzina filmu</button>
      </div>
    </a>
  </div>
</div>