<div class="container col-md-8">
  <h1 style="text-align:center">Repertuar</h1>

  <div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-primary">PN</button>
    <button type="button" class="btn btn-primary">WT</button>
    <button type="button" class="btn btn-primary">ŚR</button>
    <button type="button" class="btn btn-primary">CZ</button>
    <button type="button" class="btn btn-primary">PT</button>
    <button type="button" class="btn btn-primary">SB</button>
    <button type="button" class="btn btn-primary">ND</button>
  </div>

  <h1> Przykładowa lista filmów Statyczna</h1>

  <div class="list-group">
    <a *ngFor="let movie of movies" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ movie.title }}</h5>

        <div class="btn-group btn-group-sm" role="group" aria-label="">
          <button *ngFor="let hour of hours" type="button" class="btn btn-primary">Godzina filmu</button>
        </div>
      </div>
    </a>
  </div>
</div>