<br><br>

<div class="h">
  <div class="col-md-10 mx-auto">
    <h3>Repertuar</h3>
  </div>
</div>

<div class="container col-md-10 mx-auto">
  <br>
  <div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-repertoire" (click)="changeDay(0)">Dziś</button>
    <button type="button" class="btn btn-repertoire" (click)="changeDay(1)">+1</button>
    <button type="button" class="btn btn-repertoire" (click)="changeDay(2)">+2</button>
    <button type="button" class="btn btn-repertoire" (click)="changeDay(3)">+3</button>
    <button type="button" class="btn btn-repertoire" (click)="changeDay(4)">+4</button>
    <button type="button" class="btn btn-repertoire" (click)="changeDay(5)">+5</button>
    <button type="button" class="btn btn-repertoire" (click)="changeDay(6)">+6</button>
  </div>
  <br><br>
  <h3>Przykładowa lista filmów Statyczna</h3>

  <div class="list-group">
    <a *ngFor="let movie of movies" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ movie.title }}</h5>

        <div class="btn-group btn-group-sm" role="group" aria-label="">
          <button *ngFor="let hour of hours" type="button" class="btn btn-primary">{{hour.time}}</button>
        </div>
      </div>
    </a>
  </div>
</div>
